/* colors */
$primary-color: #90323D;
$secondary-color: #D9CAB3;
$highlight-color: #5E0B15;
$dark-grey: #8C7A6B;

/* font sizes */
$fs-biggest: 3em;
$fs-big: 2em;
$fs-highlighted: 1.5em;
$fs-normal: 1em;
$fs-small: 0.5em;

/* font families */
$ff-primary: $open-sans;
$ff-headline: $cities-typeface;
$ff-headline-alt: $love;
$ff-speachbubble: $saros;

/* Logo */
$url_logo: ur('../company/logo/dopaminsoftware.png');
