@import '../../../assets/scss/_fonts.scss';

.applesans {
    font-family: $applesansadjectives;
}

.cities {
    font-family: $cities-typeface;
}

.inkferno {
    font-family: $inkferno;
}

.love {
    font-family: $love;
}

.saros {
    font-family: $saros;
}

.opensans {
    font-family: $open-sans;
}
